html {
  background: #fff;
  color: #333;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 400 14px/1 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB,
    Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
