$main-color: #0f4c81;
$main-color-light: #6a8dc3;
$main-bg: #b3c6d5;
$main-grey: #7c858a;
$main-tag: #f7b793;
$main-black: #3b4141;
// $main-warn: #f4dbb2;

// ref: https://www.uisdc.com/2020-classic-blue
